<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.shop.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>controller.shop.about</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>faqs</servlet-name>
        <servlet-class>controller.shop.faqs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>controller.shop.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.login.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.login.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.login.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountController</servlet-name>
        <servlet-class>controller.admin.accountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>controller.admin.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myaccount</servlet-name>
        <servlet-class>controller.admin.myaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountController</servlet-name>
        <servlet-class>controller.admin.MyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.admin.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassController</servlet-name>
        <servlet-class>controller.admin.changePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changPasswordController</servlet-name>
        <servlet-class>controller.admin.changPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemList</servlet-name>
        <servlet-class>controller.shop.ItemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.shop.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>controller.shop.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerProduct</servlet-name>
        <servlet-class>controller.admin.managerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.admin.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>controller.admin.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDataToEditForm</servlet-name>
        <servlet-class>controller.admin.loadDataToEditForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcart</servlet-name>
        <servlet-class>controller.cart.addcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>controller.cart.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartProcess</servlet-name>
        <servlet-class>controller.cart.cartProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>faqs</servlet-name>
        <url-pattern>/faqs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountController</servlet-name>
        <url-pattern>/accountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myaccount</servlet-name>
        <url-pattern>/myaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountController</servlet-name>
        <url-pattern>/MyAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassController</servlet-name>
        <url-pattern>/changePassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changPasswordController</servlet-name>
        <url-pattern>/changPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemList</servlet-name>
        <url-pattern>/ItemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerProduct</servlet-name>
        <url-pattern>/managerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDataToEditForm</servlet-name>
        <url-pattern>/loadDataToEditForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartProcess</servlet-name>
        <url-pattern>/cartProcess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>
</web-app>
